{% extends 'insurance/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
    label #sidebar_btn {
      z-index: 1;
      color: #fff;
      position: fixed;
      cursor: pointer;
      left: 300px;
      padding-left: 60px;
      margin-top:15px;
      font-size: 20px;
      
      transition: 0.5s;
      transition-property: color;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Customers</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>

          <th>Name</th>

          <th>Profile Picture</th>
          <th>Mobile</th>
          <th>Address</th>
         
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for t in customers %}
      <tr>

        <td> {{t.get_name}}</td>
        {% if t.profile_pic %}
          <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        {% else %}
           <td> <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81164306-3d04-48d0-aaff-709455e43bf6/d35iy5c-6415a025-91c2-4e40-9182-650eab8d1d3c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgxMTY0MzA2LTNkMDQtNDhkMC1hYWZmLTcwOTQ1NWU0M2JmNlwvZDM1aXk1Yy02NDE1YTAyNS05MWMyLTRlNDAtOTE4Mi02NTBlYWI4ZDFkM2MuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6jx_cB0baTLkC8tkNN7YBi3k8ySVrLRb6_Z7B-LraMM" alt="Profile Pic" height="40px" width="40px" /></td>
        {% endif %}
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>
        
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-customer' t.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-customer' t.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}